@model NinjaManager.Web.Models.NinjaViewModel;

@{
    ViewData["Title"] = "Ninja " + Model.Ninja.Name;
}

<header class="container ninja-manager-header">
    <h1>NinjaManager</h1>
    <nav>
        <a class="btn" href="/home">HOME</a>
        <a class="btn" href="/ninja">NINJA</a>
        <a class="btn" href="/shop">SHOP</a>
    </nav>
</header>

<div class="container ninja-shop">
    <div class="ninja-items-grid">
        @{
            foreach (var item in Model.Categories)
            {
                var equipment = Model.Ninja.Equipments.Find(e =>
                {
                    return e.Category.Id == item.Id;
                });

                if (equipment == null)
                {
                    <div class="ninja-item empty">
                        <h2>EMPTY</h2>
                        <a class="open-shop" href="/shop">OPEN SHOP</a>
                    </div>
                }
                else
                {
                    <div class="ninja-item-container">
                        <div class="ninja-item @equipment.Rarity.ToLower()">
                            <img src="/Image/helmet_01e.png" alt="Mythic Helmet">
                            <div class="ninja-item-details">
                                <h2>@equipment.Name</h2>
                                <div class="ninja-cost">
                                    <span>
                                        <img src="/Image/pearl_01a.png" alt="red pearl">@equipment.Strength
                                    </span>
                                    <span>
                                        <img src="/Image/pearl_01b.png" alt="green pearl">@equipment.Intelligence
                                    </span>
                                    <span>
                                        <img src="/Image/pearl_01c.png" alt="blue pearl">@equipment.Agility
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        }
    </div>

    <div class="ninja-card">
        <h1>@Model.Ninja.Name</h1>
        <div class="ninja-resources">
            <span><img src="/Image/pearl_01a.png" alt="red pearl"> 300</span>
            <span><img src="/Image/pearl_01b.png" alt="green pearl"> 300</span>
            <span><img src="/Image/pearl_01c.png" alt="blue pearl"> 300</span>
            <span><img src="/Image/pearl_01d.png" alt="yellow pearl"> 300</span>
        </div>
        <img class="ninja" src="/Image/Ninjafoto.png" alt="Ninja">
    </div>
</div>