@model NinjaManager.Web.Models.NinjaViewModel;

@{
    ViewData["Title"] = "Ninja " + Model.Ninja.Name;
}

<header class="container ninja-manager-header">
    <h1>NinjaManager</h1>
    <nav>
        <a class="btn btn-secondary" asp-controller="Home" asp-action="Index">HOME</a>
        <a class="btn" href="#">NINJA</a>
        <a asp-controller="Shop" asp-action="Index" asp-route-id="@Model.Ninja.Id" class="btn btn-secondary">SHOP</a>
    </nav>
</header>

<div class="container ninja-shop">
    <div class="ninja-items-grid">
        @foreach (var item in Model.Inventory)
        {
            if (item.Equipment == null)
            {
                <div class="ninja-item-container">
                    <div class="ninja-item empty">
                        <h2 class="rarity-name">@item.Category.Name</h2>
                        <div class="ninja-item-img-container">
                        </div>
                        <div class="ninja-item-details">
                            <h2 class="ninja-item-name">EMPTY</h2>
                            <a class="btn btn-secondary open-shop" href="/shop">OPEN SHOP</a>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="ninja-item-container">
                    <div class="ninja-item @item.Equipment.Rarity.ToLower()">
                        <h2 class="rarity-name">@item.Category.Name</h2>
                        <div class="ninja-item-img-container">
                            <img src="/Image/@(item.Equipment.Img).png" alt="Mythic Helmet">
                        </div>
                        <div class="ninja-item-details">
                            <h2 class="ninja-item-name">@item.Equipment.Name</h2>
                            <div class="ninja-item-stats">
                                <span>
                                    <img src="/Image/pearl_01c.png" alt="red pearl">@item.Equipment.Strength
                                </span>
                                <span>
                                    <img src="/Image/pearl_01d.png" alt="green pearl">@item.Equipment.Intelligence
                                </span>
                                <span>
                                    <img src="/Image/pearl_01b.png" alt="blue pearl">@item.Equipment.Agility
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }

    </div>

    <div class="ninja-card">
        <h1>@Model.Ninja.Name</h1>
        <div class="ninja-resources">
            <div>
                <span>
                    <img src="/Image/element/coins.png" alt="blue pearl">@Model.Ninja.Currency
                </span>
                <span>
                    <img src="/Image/element/coins.png" alt="blue pearl">@Model.Ninja.Currency
                </span>
            </div>
            <div>
                <span>
                    <img src="/Image/pearl_01c.png" alt="red pearl">@Model.TotalStrength
                </span>
                <span>
                    <img src="/Image/pearl_01d.png" alt="green pearl">@Model.TotalAgility
                </span>
                <span>
                    <img src="/Image/pearl_01b.png" alt="blue pearl">@Model.TotalIntelligence
                </span>
            </div>
        </div>
        <div class="ninja-img-container">
            <img class="ninja-img" src="/Image/ninja/idle.png" alt="Ninja">
        </div>
        <div class="ninja-card-filler"></div>
    </div>
</div>

<div class="page-filler"></div>