@model ShopViewModel

@{
    ViewData["Title"] = "Shop";
}

<header class="container header">
    <h1>NinjaManager</h1>
    <nav>
        <a class="btn btn-secondary" asp-controller="Home" asp-action="Index">HOME</a>
        <a asp-controller="Ninja" asp-action="Index" asp-route-id="@Model.Ninja.Id" class="btn btn-secondary">NINJA</a>
        <a class="btn" href="#">SHOP</a>
    </nav>
</header>

<div class="container top-container">
    <div class="balance-container">
        <img src="/Image/element/coins.png" alt="">
        <p>@Model.Ninja.Currency</p>
    </div>
    <div class="filter-container">
        <p>FILTERS</p>
        <div>
            @foreach (var category in Model.Categories)
            {
                <a asp-controller="Shop"
                   asp-action="Index"
                   asp-route-id="@Model.Ninja.Id"
                   asp-route-selected="@(Model.SelectedCategoryId == category.Id ? null : category.Id)"
                   class="btn rounded-0 @(Model.SelectedCategoryId == category.Id ? "" : "btn-secondary")">
                    @category.Name.ToUpper()
                </a>
            }
        </div>
    </div>
    <div class="balance-container">
        <p>@Model.Ninja.Currency</p>
        <img src="/Image/element/coins.png" alt="">
    </div>
</div>

<div class="container shop-container">

    @foreach (var item in Model.Items)
    {
        <div class="card-container">
            <form asp-controller="Shop" asp-action="BuyItem" method="post">
                <input type="text" name="id" value="@item.Id">
                <input type="text" name="ninjaId" value="@Model.Ninja.Id">
                <div class="card @item.Rarity.ToLower()">
                    <div class="card-header">
                        <div class="price-container">
                            <img class="price-icon" src="/Image/element/coins.png" alt=""/>
                            <p>@item.Price</p>
                        </div>
                        <button type="submit" class="btn btn-secondary">BUY</button>
                    </div>
                    <img class="cover-image" src="@("/Image/" + item.Img + ".png")" alt="@item.Name"/>
                    <div class="details-container">
                        <p class="item-name">@item.Name</p>
                        <div>
                            <div class="attribute">
                                <img class="dot" src="/Image/pearl_01c.png" alt="Red Dot"/>
                                <div>@item.Strength</div>
                            </div>
                            <div class="attribute">
                                <img class="dot" src="/Image/pearl_01b.png" alt="Blue Dot"/>
                                <div>@item.Intelligence</div>
                            </div>
                            <div class="attribute">
                                <img class="dot" src="/Image/pearl_01d.png" alt="Green Dot"/>
                                <div>@item.Agility</div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    }
</div>